<connectionStrings>
  <remove name="LocalSqlServer" />
  <add name="LocalSqlServer" connectionString="data source=SG2NWPLS14SQL-v05.shr.prod.sin2.secureserver.net;Initial Catalog=IdyllicWeb;Integrated Security=false;user id=Cspldbuser;pwd=Cspl@#$1234;" providerName="System.Data.SqlClient" />
  <add name="IdyllicConString" connectionString="Server=SG2NWPLS14SQL-v05.shr.prod.sin2.secureserver.net;integrated security=false;user id=Cspldbuser;pwd=Cspl@#$1234;database=IdyllicWeb;" providerName="System.Data.SqlClient" />
  
  <!--<add name="LocalSqlServer" connectionString="data source=DESKTOP-UNKVUSP\SQLEXPRESS;Integrated Security=false;user id=sa;pwd=Cspl@2021;Initial Catalog=techbrills;" providerName="System.Data.SqlClient" />
  <add name="techbConString" connectionString="Server=DESKTOP-UNKVUSP\SQLEXPRESS;integrated security=false;user id=sa;pwd=Cspl@2021;database=techbrills;" providerName="System.Data.SqlClient" />-->
  <!--For registering membership on remote server: Goto VS CMD Prompt->aspnet_regsql.exe -S 43.255.152.25 -U techbWeb -P Cspl@#$2021 -A all -d techbWeb-->
</connectionStrings>
