@{
    ViewBag.Title = "About Idyllic Creation";
}

    <!-- breadcrumb-area -->
    <section class="breadcrumb-area d-flex align-items-center breadcrumb-bg" data-background="/content/img/bg/breadcrumb_bg.png">
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <div class="breadcrumb-wrap">
                        <h2>About Idyllic Creation</h2>
                        <p>The story of how Idyllic Creation came to be.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="breadcrumb-area d-flex align-items-center breadcrumb-bg" data-background="/content/img/bg/breadcrumb_bg.png">
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <div class="breadcrumb-wrap">
                        <h2>OUR VISION</h2>
                        <p>Our purpose of existence is to provide the best quality textile products globally in sync with the ever-flowing and ever-growing market.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="breadcrumb-area d-flex align-items-center breadcrumb-bg" data-background="/content/img/bg/breadcrumb_bg.png">
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <div class="breadcrumb-wrap">
                        <h2>OUR MISSION</h2>
                        <p>To achieve customers' delight will be the aim and objective of Idyllic Creations organization. We strive for recognition as a value-based business enterprise.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="breadcrumb-area d-flex align-items-center breadcrumb-bg" data-background="/content/img/bg/breadcrumb_bg.png">
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <div class="breadcrumb-wrap">
                        <h2>OUR IDEOLOGY</h2>
                        <p>
                            A Triangle of profitable growth will be at the center of the company's operations.
                            Human resources transformed into a knowledge base and, working with passion, commitment and enthusiasm will form the company's foundation.
                            Continuous improvement and up-gradation, both in knowledge base and processes, will be Idyllic Creation's mantra to avoid stagnation and stay relevant.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb-area-end -->
    <!-- global-services -->
    <section class="global-services fix pt-150 pb-150">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="g-services-content">
                        <h2>Idyllic Creations Pvt. Ltd. is an Indian export-oriented company, based in New Delhi, India.</h2>
                        <p>
                            Idyllic Creations Pvt. Ltd. Producing textile products like Rugs, Poufs, Kitchen towels, Apron, Handbags, Baskets along with a wide range of Cushions and Throws. We are geared to meet all requirements of our valued customers, individuals, with a sense of dedication, professional orientation, and most importantly by respecting and following all the ethical values.
                            The foundation  was laid back in (2009) by D.Asirvatham (Asir) in the capital of India. The company has since designed products that have reached globally.
                            Idyllic products are well known for their intricate texture, different techniques, and contemporary designs. Our strength lies in teamwork, inspiration, and themes that we collect from nature, travel, fashion, and abstract ideas and then transformed into a textile product with the help of our in-house highly creative artisans whom we cherish!

                        </p>
                        <div class="g-services-btn mt-40">
                            <a href="#" class="btn">Contact Us</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="g-services-img">
                        <img src="/content/img/images/global_services_img.png" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- global-services-end -->
    <!-- about-area -->
    <section class="about-area about-bg pt-140 pb-95">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8">
                    <div class="section-title white-title text-center mb-75">
                        <h2>IDYLLIC CREATIONS..</h2>
                        <p> driving 1 data centers in India and offers cloud solutions to customers in more that 160 countries around the world.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-about text-center mb-50">
                        <div class="about-icon mb-20">
                            <img src="/content/img/icon/about_icon01.png" alt="img">
                        </div>
                        <div class="about-content">
                            <h5>The world's youngest domain name registrar</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-about text-center mb-50">
                        <div class="about-icon mb-20">
                            <img src="/content/img/icon/about_icon02.png" alt="img">
                        </div>
                        <div class="about-content">
                            <h5>14 facilities, including: Asia, Europe & More</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-about text-center mb-50">
                        <div class="about-icon mb-20">
                            <img src="/content/img/icon/about_icon03.png" alt="img">
                        </div>
                        <div class="about-content">
                            <h5>24/7 round-the-clock customer care operations</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-area-end -->
    <!-- choose-area -->
    <section class="choose-area pt-143 pb-70">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8">
                    <div class="section-title text-center mb-75">
                        <h2>Why choose Idyllic Creations ?</h2>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-center mb-40">
                <div class="col-xl-5 col-md-6">
                    <div class="choose-content mb-40">
                        <h4>Technical Craftsmanship</h4>
                        <p>
                            Developing smart in-house solutions and adopting innovative technology is our passion and our craft. We were pioneers in
                            secure account isolation and among the first to use Linux containers. We heavily customized this new lightweight
                            virtualization method to ensure it.
                        </p>
                        <div class="choose-btn mt-35">
                            <a href="#" class="btn">Get Started</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-md-6">
                    <div class="choose-img text-center text-md-right mb-40 wow fadeInRight" data-wow-duration="1s" data-wow-delay=".4s">
                        <img src="/content/img/images/choose_img01.jpg" alt="img">
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-center mb-40">
                <div class="col-xl-5 col-md-6 order-0 order-md-12">
                    <div class="choose-content mb-40">
                        <h4>Managed and Empowering</h4>
                        <p>
                            The founder of this Company, Mr. D. Asirvatham (Ashir), has over 30 years of experience 
                            in this field, having been an equal partner in another Company, where he was involved 
                            in direct export of similar products for over 12 years to many customers around the world.
                        </p>
                        <div class="choose-btn mt-35">
                            <a href="#" class="btn">See Pricing</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-md-6">
                    <div class="choose-img text-center text-md-left mb-40 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">
                        <img src="/content/img/images/choose_img02.jpg" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- choose-area-end -->
    <!-- testimonial-area -->
    <section class="testimonial-area gray-bg pt-143 pb-145">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8">
                    <div class="section-title text-center mb-75">
                        <h2>What Users say</h2>
                        <p>We value our customers since they are the bread & butter of our company.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-10">
                    <div class="testimonial-active">
                        <div class="single-testimonial text-center">
                            <div class="testi-avatar mb-25">
                                <img src="/content/img/images/testimonial_img.png" alt="img">
                            </div>
                            <div class="testimonial-content mb-25">
                                <h4>
                                    Hostent offers and customer support I have ever seen in the world.
                                </h4>
                            </div>
                            <div class="testi-avatar-info">
                                <h5>D. Asirvatham</h5>
                                <span>Director, Idyllic Creations</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonial-area-end -->
    <!-- brand-area -->
    <div class="brand-area pt-100 pb-100">
        <div class="container">
            <div class="row brand-active">
                <div class="col-xl-2">
                    <div class="single-brand">
                        <img src="/content/img/brand/brand_logo01.png" alt="brand">
                    </div>
                </div>
                <div class="col-xl-2">
                    <div class="single-brand">
                        <img src="/content/img/brand/brand_logo02.png" alt="brand">
                    </div>
                </div>
                <div class="col-xl-2">
                    <div class="single-brand">
                        <img src="/content/img/brand/brand_logo03.png" alt="brand">
                    </div>
                </div>
                <div class="col-xl-2">
                    <div class="single-brand">
                        <img src="/content/img/brand/brand_logo04.png" alt="brand">
                    </div>
                </div>
                <div class="col-xl-2">
                    <div class="single-brand">
                        <img src="/content/img/brand/brand_logo05.png" alt="brand">
                    </div>
                </div>
                <div class="col-xl-2">
                    <div class="single-brand">
                        <img src="/content/img/brand/brand_logo01.png" alt="brand">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- brand-area-end -->
    <!-- cta-area -->
    <section class="cta-area cta-bg pt-95 pb-95" data-background="/content/img/bg/cta_bg.jpg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8">
                    <div class="cta-content">
                        <h2>Complete Hosting Solutions Only $2.95/mo</h2>
                        <p>
                            We deliver high performance cloud services and infrastructure to clients with rock bottom price.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="cta-btn text-right">
                        <a href="#" class="btn">Get Started Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- cta-area-end -->


