@{
    ViewBag.Title = "Idyllic Creation";
}
<!-- slider -->
<div class="swiper-container swiper-container-alt">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="image image-overlay image-zoom" style="background-image: url(/content/images/IN02500055P001_full.jpg)"></div>
            <div class="container">
                <div class="row align-items-center justify-content-center vh-80">
                    <div class="col-lg-8 text-white text-center" data-swiper-parallax-y="-100%">
                        <h1 class="display-2 mb-2"><b>Idyllic Creation</b> is waiting for you.</h1>
                        @*<a href="#" class="btn btn-white">Shop Now</a>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="image image-overlay image-zoom" style="background-image: url(/content/images/IN02500055H004.jpg)"></div>
            <div class="container">
                <div class="row align-items-center justify-content-center vh-80">
                    <div class="col-lg-6 text-white text-center" data-swiper-parallax-y="-100%">
                        <h1 class="display-2 mb-2">Transform your home with us.</h1>
                        @*<a href="#" class="btn btn-outline-white">Shop Now</a>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="image image-overlay image-zoom" style="background-image: url(/content/images/IN02500055P009_full.jpg)"></div>
            <div class="container">
                <div class="row align-items-center justify-content-center vh-80">
                    <div class="col-lg-6 text-white text-center" data-swiper-parallax-y="-100%">
                        <h1 class="display-2 mb-2">Make your dreams true with us.</h1>
                        @*<a href="#" class="btn btn-outline-white">Shop Now</a>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="image image-overlay image-zoom" style="background-image: url(/content/images/pillow5.jpg)"></div>
            <div class="container">
                <div class="row align-items-center justify-content-center vh-80">
                    <div class="col-lg-6 text-white text-center" data-swiper-parallax-y="-100%">
                        <h1 class="display-2 mb-2">Style your home with the best of Idyllic creation textiles in a global contemporary aesthetic</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>


<!-- categories -->
<section class="pt-1">
    <div class="container-full">
        <div class="row masonry gutter-1">
            <div class="col-md-4">
                <a href="#" class="card card-equal equal-50 equal-md-100 card-scale">
                    <span class="image image-overlay" style="background-image: url(/content/images/kit2.jpg)"></span>
                    <div class="card-body text-center text-white">
                        <h3>Kitchen &amp; Dining</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="card card-equal equal-50 equal-md-100 card-scale">
                    <span class="image image-overlay" style="background-image: url(/content/images/cushion2-3.jpg)"></span>
                    <div class="card-body text-center text-white">
                        <h3>Living Room</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="card card-equal equal-50 equal-md-100 card-scale">
                    <span class="image image-overlay" style="background-image: url(/content/images/bathroom2.jpg)"></span>
                    <div class="card-body text-center text-white">
                        <h3>Bathroom</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>


<!-- latest products -->
<section class="pt-0">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2>Latest Products</h2>
            </div>
        </div>
        <div class="row gutter-2 gutter-md-2">

            <div class="col-6 col-lg-3">
                <div class="product">
                    <figure class="product-image">
                        <div class="owl-carousel" data-nav="true" data-loop="true">
                            <a href="#!">
                                <img src="/content/images/demo/cushion2-3.jpg" alt="Image">
                            </a>
                            <a href="#!">
                                <img src="/content/images/demo/photo2-1.jpg" alt="Image">
                            </a>
                        </div>
                    </figure>
                    <div class="product-meta">
                        <h3 class="product-title"><a href="#!">Dark Stained Chair</a></h3>
                    </div>
                </div>
            </div>

            <div class="col-6 col-lg-3">
                <div class="product">
                    <figure class="product-image">
                        <div class="owl-carousel" data-nav="true" data-loop="true">
                            <a href="#!">
                                <img src="/content/images/demo/tl9.jpg" alt="Image">
                            </a>
                            <a href="#!">
                                <img src="/content/images/demo/photo2-1.jpg" alt="Image">
                            </a>
                            <a href="#!">
                                <img src="/content/images/demo/rd47.jpg" alt="Image">
                            </a>
                        </div>
                    </figure>
                    <div class="product-meta">
                        <h4 class="product-title"><a href="#!">Name will avilable soon..</a></h4>
                    </div>
                </div>
            </div>

            <div class="col-6 col-lg-3">
                <div class="product">
                    <figure class="product-image">
                        <div class="owl-carousel" data-nav="true" data-loop="true">
                            <a href="#!">
                                <img src="/content/images/demo/table_pic5.jpg" alt="Image">
                            </a>
                            <a href="#!">
                                <img src="/content/images/demo/tl9.jpg" alt="Image">
                            </a>
                            <a href="#!">
                                <img src="/content/images/demo/photo2-1.jpg" alt="Image">
                            </a>
                        </div>
                    </figure>
                    <div class="product-meta">
                        <h4 class="product-title"><a href="#!">Dark Stained Dining Chair</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="product">
                    <figure class="product-image">
                        <div class="owl-carousel" data-nav="true" data-loop="true">
                            <a href="#!">
                                <img src="/content/images/demo/cushion1-3.jpg" alt="Image">
                            </a>
                            <a href="#!">
                                <img src="/content/images/demo/throw1-2.jpg" alt="Image">
                            </a>
                            <a href="#!">
                                <img src="/content/images/demo/throw1-2.jpg" alt="Image">
                            </a>
                        </div>
                    </figure>
                    <div class="product-meta">
                        <h4 class="product-title"><a href="#!">Dark Stained Dining Chair</a></h4>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col text-center">
                <a href="#!" class="btn btn-outline-secondary">Load More</a>
            </div>
        </div>
    </div>
</section>


<!-- instagram -->
@*<section class="pb-1 no-overflow">
    <div class="container">
        <div class="row gutter-1">

            <div class="col-md-6 col-lg-4 level-1">
                <div class="card card-equal bg-primary text-white">
                    <div class="card-header p-4">
                        <i class="icon-instagram fs-30"></i>
                    </div>
                    <div class="card-footer p-2">
                        <h2 class="card-title fs-10 w-75">We are active on <a href="#!" class="font-weight-bold underline">Instagram</a></h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-8">
                <div class="owl-carousel owl-carousel-alt visible" data-items="[2,2,1,1]" data-margin="10" data-loop="true" data-nav="true">
                    <figure class="equal"><a class="image image-fade" href="#!" style="background-image: url(/content/images/instagram-1.jpg)"></a></figure>
                    <figure class="equal"><a class="image image-fade" href="#!" style="background-image: url(/content/images/instagram-2.jpg)"></a></figure>
                    <figure class="equal"><a class="image image-fade" href="#!" style="background-image: url(/content/images/instagram-3.jpg)"></a></figure>
                    <figure class="equal"><a class="image image-fade" href="#!" style="background-image: url(/content/images/instagram-4.jpg)"></a></figure>
                    <figure class="equal"><a class="image image-fade" href="#!" style="background-image: url(/content/images/instagram-5.jpg)"></a></figure>
                </div>
            </div>
        </div>
    </div>
</section>*@
