@{
    ViewBag.Title = "Idyllic Creation";
}
<!-- hero -->
<!-- slider -->
<div class="swiper-container swiper-container-alt">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="image image-overlay image-zoom" style="background-image:url(/content/images/background-4.jpg)"></div>
            <div class="container">
                <div class="row align-items-center justify-content-center vh-80">
                    <div class="col-lg-8 text-white text-center" data-swiper-parallax-y="-100%">
                        <h1 class="display-2 mb-2">Your <b>perfect workspace</b> is waiting for you.</h1>
                        <a href="#" class="btn btn-white">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="image image-overlay image-zoom" style="background-image:url(/content/images/background-5.jpg)"></div>
            <div class="container">
                <div class="row align-items-center justify-content-center vh-80">
                    <div class="col-lg-6 text-white text-center" data-swiper-parallax-y="-100%">
                        <h1 class="display-2 mb-2">Transform your home with us.</h1>
                        <a href="#" class="btn btn-outline-white">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>

<!-- categories -->
<section class="pt-1">
    <div class="container-full">
        <div class="row masonry gutter-1">
            <div class="col-md-4">
                <a href="#" class="card card-equal equal-50 equal-md-100 card-scale">
                    <span class="image image-overlay" style="background-image: url(/content/images/card-1.jpg)"></span>
                    <div class="card-body text-center text-white">
                        <h3>Kitchen &amp; Dining</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="card card-equal equal-50 equal-md-100 card-scale">
                    <span class="image image-overlay" style="background-image: url(/content/images/card-2.jpg)"></span>
                    <div class="card-body text-center text-white">
                        <h3>Living Room</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="card card-equal equal-50 equal-md-100 card-scale">
                    <span class="image image-overlay" style="background-image: url(/content/images/card-3.jpg)"></span>
                    <div class="card-body text-center text-white">
                        <h3>Bathroom</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>


<!-- blog -->
<section class="pb-0">
    <div class="container">
        <div class="row align-items-end gutter-1">
            <div class="col-md-8">
                <h2>Blog Posts & News</h2>
            </div>
            <div class="col-md-4 text-md-right">
                <a href="blog-posts.html" class="action eyebrow underline">View All</a>
            </div>
        </div>
        <div class="row gutter-3">
            <div class="col-md-6 col-lg-4">
                <div class="card card-post">
                    <figure class="equal equal-50">
                        <a class="image image-fade" href="post.html" style="background-image: url(/content/images/news-1.jpg)"></a>
                    </figure>
                    <div class="card-body">
                        <span class="eyebrow text-muted">22 March 2019</span>
                        <h4 class="card-title"><a href="post.html">The Shoes That will Instantly Update Any Outfit</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card card-post">
                    <figure class="equal equal-50">
                        <a class="image image-fade" href="post.html" style="background-image: url(/content/images/news-2.jpg)"></a>
                    </figure>
                    <div class="card-body">
                        <span class="eyebrow text-muted">22 March 2019</span>
                        <h4 class="card-title"><a href="post.html">The Shoes That will Instantly Update Any Outfit</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card card-post">
                    <figure class="equal equal-50">
                        <a class="image image-fade" href="post.html" style="background-image: url(/content/images/news-3.jpg)"></a>
                    </figure>
                    <div class="card-body">
                        <span class="eyebrow text-muted">22 March 2019</span>
                        <h4 class="card-title"><a href="post.html">The Shoes That will Instantly Update Any Outfit</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- instagram -->
<section class="pb-1 no-overflow">
    <div class="container">
        <div class="row gutter-1">

                <div class="col-md-6 col-lg-4 level-1">
                <div class="card card-equal bg-primary text-white">
                    <div class="card-header p-4">
                        <i class="icon-instagram fs-30"></i>
                    </div>
                    <div class="card-footer p-4">
                        <h2 class="card-title fs-30 w-75">We are active on <a href="#!" class="font-weight-bold underline">Instagram</a></h2>
                    </div>
                </div>
            </div>
                <div class="col-md-6 col-lg-8">
                <div class="owl-carousel owl-carousel-alt visible" data-items="[2,2,1,1]" data-margin="10" data-loop="true" data-nav="true">
                    <figure class="equal"><a class="image image-fade" href="#!" style="background-image: url(/content/images/instagram-1.jpg)"></a></figure>
                    <figure class="equal"><a class="image image-fade" href="#!" style="background-image: url(/content/images/instagram-2.jpg)"></a></figure>
                    <figure class="equal"><a class="image image-fade" href="#!" style="background-image: url(/content/images/instagram-3.jpg)"></a></figure>
                    <figure class="equal"><a class="image image-fade" href="#!" style="background-image: url(/content/images/instagram-4.jpg)"></a></figure>
                    <figure class="equal"><a class="image image-fade" href="#!" style="background-image: url(/content/images/instagram-5.jpg)"></a></figure>
                </div>
            </div>
            </div>
        </div>
</section>
